@font-face {
  font-family: "stylishFont";
  src: local("stylishFont"),
    url("./assets/fonts/Honofly.otf") format("opentype");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
source {
  display: block;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
:root {
  --md-nav-hight: 85px;
  /*-----------colors-------------*/

  --md-pink: #f687ad;
  --lg-pink: #ae1d74;
  --md-white: #ffeaec;
  --yellow: #e2b208;
  --green: #76bd51;
  --brillian-Rose: #f64f9d;
  --megneta-pink: #f675b9;
  --blush-Blossom: #fd7db8;
  --blue: #019ffb;
  --soft-Sage: #b2d192;

  /*---------body bg&text-----------*/

  --body-bg: var(--md-pink);
  --body-text: white;
}

/* * {
  border: 1px solid black;
} */

/* 


*/
