@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-nav-hight: 85px;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

/* * {
  border: 1px solid black;
} */

/* pt-[calc(var(--md-nav-hight)+1rem)] */
/*  */
