@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

:root {
  --md-nav-hight: 85px;
  /*-----------colors-------------*/
  --md-pink: #f687ad;
  --lg-pink: #ae1d74;
  --md-white: #ffeaec;
  --yellow: #e2b208;
  --green: #76bd51;

  /*---------body bg&text-----------*/

  --body-bg: var(--md-pink);
  --body-text: white;
}

* {
  border: 1px solid black;
}

/* pt-[calc(var(--md-nav-hight)+1rem)] */
/*  */

/* .stepper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 25%;
  translate: 0 -100%;

  background-color: black;
} */
